* {
  box-sizing: border-box;
}

body {
  font-family: 'Patrick Hand', cursive;
}


h2 {
  font-size: 3.3em;
}

#post-input {
  padding-bottom: 10vmin;
}


.topNav {
  margin-top: -11px;
  margin-left: -11px;
  margin-right: -11px;
  margin-bottom: 10vmin;
  background-color: #66c2ff;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  border-width: 2px;
  border-color: white;
  border-style: solid;
}



.topNavLogo {
  padding: 1vmin;
  grid-column-start: 0;
  grid-column-end: span 1;
  height: 15%;
}

.searchIcon {
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  padding-left: 15vmin;
  grid-column-start: 2;
  grid-column-end: span 1;
  height: 100%;
}

.fakeButtons {
  grid-column-end: span 1;
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.fakeButtons.profile {
  grid-column-start: 9;
}

.fakeButtons.signOut {
  grid-column-start: 10;
}

.fakeButtons:hover {
  color: #ccc;
}

#search {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  width: 100%;
  grid-column-end: span 2;
}

.header{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.header > img {
  width: 20vw;
}

.mainContainer {
  margin-top: 5vmin;
  padding: 5vmin;
  margin-left: 50vmin;
  margin-right:10vmin;
  background-color: #66c2ff;
  border-radius: 20px;

  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.friendList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 5vmin;
  position: absolute;
  width: 35vmin;
  border-radius: 20px;
  background-color: #66c2ff;
  padding: 1.5vmin;
  margin-top: 5vmin;

  font-size: 0.6em;

  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.singlePost {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1vmin;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}


.friendBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vmin;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  width: 100%;
}

.singleComment {
  margin-top: 10px;
  margin-left: 10vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1vmin;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.profilePic {
  grid-column-end: span 1;
  width: 100%;
}

.profilePicFren {
  grid-column-end: span 1;
  width: 100%;
}


.username {
  grid-column-end: span 7;
}

.usernameFren {
  grid-column-end: span 3;
}

.postText {
  grid-column-start: 0;
  grid-column-end: span 8;
  font-size: 2em;
}

.statusText {
  grid-column-start: 0;
  grid-column-end: span 1;
}

#posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 5vmin;
  grid-row-gap: 5vmin;
}









.topNav.dark {
  color: #ff0000;
  background-color: black;
  border-color: #ff0000;
}

.fakeButtons.dark {
  grid-column-end: span 1;
  font-size: 2em;
  text-decoration: none;
  color: #ff0000;
}

.fakeButtons.dark:hover {
  color: #947272;
}

.mainContainer.dark{
  background-color: black;
  border-color: #ff0000;
}

.friendList.dark{
  background-color: black;
  border-color: #ff0000;
  color:#ff0000
}

.friendList.dark > *{
  background-color: black;
  border-color: #ff0000;
  color:#ff0000
}

@media only screen and (max-width: 992px){

.topNavLogo {
  height: 20vmin;
}

.topNav {
  height: 20vh;
  grid-column-gap: 1vmin;
}


.mainContainer {
  margin-top: 5vmin;
  padding: 5vmin;
  margin-left: 40vmin;
  margin-right:5vmin;
  background-color: #66c2ff;
  border-radius: 20px;

  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.postText {
  grid-column-start: 0;
  grid-column-end: span 8;
  font-size: 1.5em;
}


.username {
  font-size: 2em;
  grid-column-end: span 5;
}

.profilePic {
  grid-column-end: span 2;
  width: 100%;
}

.profilePicFren {
  grid-column-end: span 2;
  width: 75%;
}

#search {
  margin-top: 7vmin;
  margin-bottom: 5vmin;
  width: 20vmin;
  height: 5vmin;
  grid-column-end: span 2;
}

.fakeButtons {
  padding-top: 5vmin;
  font-size: 1.2em;
}

.fakeButtons.dark {
  padding-top: 5vmin;
  font-size: 1.2em;
}

.fakeButtons.profile {
  grid-column-start: 7;
  grid-column-end: 9;
}

.fakeButtons.signOut {
  grid-column-start: 9;
  grid-column-end: 11;
}

}
